@font-face{
	font-family: p-web;
	src: url(pagina-web.ttf);
}
body {
	position: center;
}

h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 15px;
	font-family: 'p-web';
	font-size: 35px;
}

h2 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	font-family: 'p-web';
	font-weight: lighter;
}

h3 {
	font-family: 'p-web';
	text-align: left;
	margin-bottom: 15px;
	font-size: 30px;
	font-weight: bold;
}

h4 {
	font-family: 'p-web';
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 15px;
	margin-top: 25px;
}

p {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 15px;
	text-align: left;
}

a {
	color: black;
	text-decoration: none;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 15px;
}

.menu {
	min-height: 70px;
	max-width: 1080px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: center;
	margin-left: 350px;
}

.menu-principal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	position: relative;
	z-index: 100;
	font-weight: bold;
}

.menu-link {
	transition: 0.7s ease;
}

.menu-link:hover {
	color: green;
}

.menu-principal li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.contribuciones {
	width: 213.58px;
	min-height: 411px;
	justify-content: space-between;
	align-items: right;
	position: right;
	margin-left: 1250px;
	margin-top:-305px;
}

.contribucion1 {
	display: grid;
	position: center;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin-top: 20px;
	height: auto;
	width:350px;
	max-width: 800px;
}

.contribucion2 {
	display: grid;
	position: center;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin-top: 20px;
	height: auto;
	width: 350px;
	max-width: 800px;
}

.contribucion3 {
	display: grid;
	position: center;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin-top: 20px;
	height: auto;
	width: 350px;
	max-width: 800px;
}

.contribucion4 {
	display: grid;
	position: center;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin-top: 20px;
	height: auto;
	width: 350px;
	max-width: 800px;
}

.contribucion5 {
	display: grid;
	position: center;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin-top: 20px;
	height: auto;
	width: 350px;
	max-width: 800px;
}
.submenu {
	width: 259.53px;
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: left;
	position: left;
	margin-left: 15px;
}

.sub-menu {
	justify-content: space-between;
	align-items: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	position: relative;
	z-index: 100;
}

.sub-menu li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-bottom: 1px solid black;
}

li a:hover {
	color: green;
}

img {
	position: left;
	height: auto;
	max-height: 600px;
	max-width: 1080px;
	margin-left: 270px;
}

.text {
	text-align: left;
	margin-left: 900px;
	position: center;
	margin-top: 50px;
	width: 600px;
}

.slide {
	position: center;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin-top: 15px;
	height: auto;
	max-height: 600px;
	max-width: 1080px;
	margin-bottom: 20px;
}

.slide-inner {
	position: relative;
	overflow: hidden;
	margin-left: 0px;
}

.slide-open:checked + .slide-item {
	position: relative;
	opacity: 100;
}

.slide-item {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.slide-item img {
	display: block;
	height: auto;
	max-width: 100%;
}

.slide-control {
	background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
 
.slide-control.prev {
    left: 1%;
}

.slide-control.next {
    right: 1%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4,
#slide-5:checked ~ .control-5 {
	display: block;
}
            
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: right;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
            
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
            
.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo,
#slide-4:checked ~ .control-4 ~ .slide-indicador li:nth-child(4) .slide-circulo,
#slide-5:checked ~ .control-5 ~ .slide-indicador li:nth-child(5) .slide-circulo {
        color: green;
    }

.preguntas {
	display: grid;
	position: center;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin-top: 20px;
	height: auto;
	max-width: 800px;
	cursor: pointer;
}

.interior-preguntas {
	margin-left: 15px;
	margin-bottom: 5px;
}

#home {
	margin-left: 350px;
	width: 810px;
	margin-top: -1190px;
}

#questions {
	margin-left: 350px;
	width: 1080px;
}

#comments {
	margin-left: 350px;
	width: 1080px;
}

#community {
	margin-left: 350px;
	width: 1080px;
}

.contactar {
	margin-top: 500px;
	background-color: #1F1D1C;
	color: white;
	text-align: center;
}

.button {
	border: none;
	color: white;
	background-color: green;
	text-align: center;
	cursor: pointer;
	font-size: 25px;
	font-family: 'Montserrat Alternates', sans-serif;
}

.donation {
	display: grid;
	position: center;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin-top: 20px;
	height: auto;
	max-width: 800px;
}

